*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: white;
  font-family: 'roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: black !important;
}

hr {
  border-top: 0 !important;
}

.fluid-container {
	height: 100%;
}

header {
  height: 215px;
  margin: 0 auto;
  max-width: 1680px;
  min-width: 970px;
  padding: 0;
  position: relative;
  width: 100%;
}

.custom-navbar {
  border: 1px solid green;
  margin: 0 auto;
  position: relative;
  width: 90%;

}

.sticky-top {
  background-color: white;
  margin: 0 auto;
  position: fixed;
  width: 90%;
  z-index: 10;
}

.menu {
  height: 35px;
  position: relative;
}

.menu-items-group {
  float: right;
  margin: 0 auto;
  max-width: 1248px;
  min-width: 970px;
  padding: 0 15px;
  position: relative;
}

.menu-items-group ul {
  padding: 5px 0;
  position: absolute;
  right: 0;
  top: 0;
}


.menu-items-group ul li {
  display: inline-block;
  font-size: 18px;
  letter-spacing: .2px;
  line-height: 25px;
  list-style-type: none;
  padding: 0 25px;
}

.menu-items-group li:not(:first-child) {
  border-left: 2px solid black;
}

.menu-items-group li img {
  margin-right: 5px;
}

.content-block {
  margin: 0 auto;
  max-width: 1680px;
  min-width: 970px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.outer-class {
  height: auto;
  margin: 0 auto;
  width: 90%;
}

.end-line {
  border-bottom: 1px dashed black;
}

.horizontal-line {
  border-bottom: 1px dashed black;
  margin: 0 auto;
}

.heading-section {
  height: 71px;
}

.shipping {
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.logo {
  display: inline;
  padding: 24px 0 5px 20px;
}


.logo-img {
  height: 42px;
  margin-top: 20px;
}

.logo-needle {
  left: -292px;
  position: relative;
  top: 15px;
}

.notify-text {
  font-size: 18px;
  position: absolute;
  right: 20px;
  top: 30px;
}

.notify-text span img {
  height: 20px;
  margin-right: 10px;
  width: 35px;
}

.search-block {
  height: 40px;
}

.search-block input {
  border: 2px solid #a9a9a9;
  font-size: 18px;
  height: 40px;
  padding-left: 15px;
  position: absolute;
  right: 0;
  width: 35%;
}

.search-box  {
  position: relative;
  width: 100%;
}

.magnifier {
  position: absolute;
  right: 20px;
  top: 10px;
}

.list {
  height: 70px;
  position: absolute;
  top: 160px;
  width: 100%;
  z-index: 6;
}

.list-items {
  width: 100%;
}

.list-items ul {
  height: 55px;
  margin: 0 auto;
  padding: 5px 0;
  }

.list-items ul li {
  display: inline-block;
  padding: 0 30px;
}

.list-items a {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: .1px;
  line-height: 45px;
  text-transform: uppercase;
}

.list-items li:not(:first-child) {
  border-left: 2px solid #a9a9a9;
}


/*sidebar section*/
.side-bar {
  background-color: #dcdcdc;
  height: auto;
  margin-left: 1px;
  margin-top: 126px;
  padding: 20px 20px;
  width: 200px;
}

.filter {
  margin-bottom: 35px;
}

.filter h3 {
  text-transform: capitalize;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  padding-bottom: 3px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.20em;
   height: 1.20em;
  border: 2px solid black;
  background: #dcdcdc;
  border-radius: 0;
  box-shadow: none;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  content: '✔';
  position: absolute;
  top: .1em;
  left: .1em;
  font-size: 1.1em;
  line-height: 1;
  color: black;

}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

label {
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
  width: 100%;
  }



/*product-section*/
.title {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 60px;
  margin-top: 25px;
}

.seperation-line {
  border-bottom: 2px solid black;
  margin: 0 auto;
  position: relative;
  width: 100%;
}


.product-group {
  margin-top: 35px;

}

.product-group .row {
  margin-left: 0;
  margin-right: 0;
}

.single-product {
  margin-bottom: 120px;

}

.single-product img {
  border: 1px solid white;
  padding: 5px 16px;

}

.margin-40 {
  margin-bottom: 40px !important;
}

.product-info {
  margin: 0 auto;
  border: 1px solid white;
  width: 210px;
}

.single-product:hover  img {
  border: 1px solid #dcdcdc;
}

.single-product:hover .product-info {
  background-color: #dcdcdc;
}


/*stitching-item*/
.img {
  display: inline-block;
  left: 0;
  position: relative;
  top: 40px;
  width: 100px;
}


.image-container img {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 100px;
}


.stitching-items-container {
  height: 270px;
  margin-top: 20px;
}

.thread {
  float: right;
  margin-right: 40px;
  top: 200px;
  width: 400px;
}

.thread img {
  width: 400px;
}

.tape img {
  width: 100%;
}

.tape {
  left: 10px;
  top: 240px;
  width: 480px;
}

.big-stitching-button {
  left: -70px;
}

.small-stitching-button {
  left: -100px;
}

.big-stitching-button,
.small-stitching-button {
  top: 200px;
  width: 70px;
}

.big-stitching-button img,
.small-stitching-button img {
  width: 100%;
}

.needle img {
  width: 100%
}

.needle {
  left: -200px;
  top: 190px;
  width: 300px;
}

/*footer-section*/
footer {
  height: auto;
  margin-top: 10px;
  min-width: 970px;
}

/*Payments section*/

.payment-block {
  background-color: #8FBC8F;
  height: 68px;
  margin: 0 auto;
  width: 90%;
}


.payment-block img {
  margin-left: 50px;
  margin-top: -18px;
}

.payment-block span {
  font-size: 20px;
  left: 10px;
  position: relative;
  top: -5px;
}

.payment-modes-wrapper {
  position: relative;
}

.payment-modes img {
  margin-left: 0;
  padding: 10px;
}

.payment-modes {
  height: 50px;
  padding: 0 40px;
  position: absolute;
  right: 0;
  top: -59px;
}

/*footer-link*/
.footer-menu {
  background-color: #d3d3d3;
  height: 170px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px 0;
  width: 90%;
}

.footer-links {
  background-color: #d3d3d3;
  margin-top: 15px;
  width: 98%;
}

.footer-links .row {
  margin-left: 0 ;
  margin-right: 0;
}


.footer-links ul a {
  display: block;
  padding: 5px 20px;
  text-transform: uppercase;
}


/*connect-us-main-block*/
.connect-us {
  background-color: #d3d3d3;
  height: 115px;
  margin: 0 auto;
  width: 90%;
}

.connect-us .row {
  margin-left: 0;
  margin-right: 0;
}


/*connect-us*/
.connect-block {
  padding: 10px 0 10px 40px !important;
}

.social-links {
  margin: 0;
  padding: 0;
}

.social-links a {
  padding: 5px 8px;
}


.social-links a  img {
width: 30px;
}


/*subscribe-letter*/

.subscribe-letter {
  float: right;
  height: auto;
  margin-top: 25px;
  position: relative;
  width: 90%;
}

.subscribe-letter button {
  background-color: black;
  border: 0;
  box-shadow: none !important;
  color: white;
  margin-left: -40px;
  padding: 12px 5px;
  text-transform: uppercase;
  width: 70px;
}

.subscribe-letter .col-sm-3 {
  padding: 0 !important;
}

.notice {
  font-size: 10px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-letter h5 {
  font-weight: bold;
  line-height: 27px;
  margin-left: -10px;
  min-width: 200px;
  width: 100%;
}

.subscribe-letter input {
  border: 1px solid black;
  height: 45px;
  text-transform: uppercase;
}

input[type="email"] {
  text-align: center;
  width: 100%;
}

/*copyright*/

.copyright {
  height: 50px;
  position: relative;
}

.copyright ul {
  left: 20px;
  position: absolute;
  top: 0;
}

.copyright ul li {
  display: inline-block;
  padding: 4px 15px;
  text-transform: uppercase;
}

.copyright li:not(:first-child) {
  border-left: 1px solid black;
}


/*media queries*/

@media screen and (min-width: 320px) and (max-width: 992px){
  .thread {
    left: 20px;
    top: 187px;
    width: 280px;
  }

  .thread img {
    width: 100%;
  }

  .needle {
    left: 286px;
    top: 140px;
    width: 300px;
  }

  .needle img {
    width: 64%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023px){
  .payment-modes img {
    padding: 5px;
  }

  .product-group .col-xs-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .subscribe-letter {
    width: 100%;
  }
}


@media screen and (min-width: 320px) and (max-width: 1300px){
  .notice {
    font-size: 8px;
  }
  .connect-us {
    height: 105px;
  }  
}

@media screen and (max-width: 767px){
  .list-items ul li {
    padding: 0 20px;
  }

  .subscribe-letter h5 {
    font-size: 10px;
    margin-left: -5px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .list-items ul li {
    padding: 0 25px;
  }

  .subscribe-letter h5 {
    font-size: 12px;
    margin-left: -15px;
    margin-right: 0;
  }
}

@media screen and (min-width: 993px) and (max-width: 1300px){
  .thread {
    margin-right: 10px;
    top: 200px;
    width: 400px;
  }

  .thread img {
    width: 320px;
  }
   .subscribe-letter h5 {
    font-size: 12px;
    margin-left: -15px;
    margin-right: 0;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
  .needle {
    left: -221px;
    top: 164px;
    width: 200px;
 }

 .thread img {
    width: 300px;
 }

 .thread {
    margin-right: 0;
    top: 200px;
    width: 300px;
  }
}

@media screen and (max-width: 1023px){
  .footer-links ul a {
    font-size: 9px;
    width: 185px;
  }

  .footer-links ul {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .footer-links ul a {
    font-size: 10px;
  }
}
