*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: white;
  color: black;
  font-family: 'roboto', 'Helvetica', 'Arial', sans-serif;
}

.fluid-container {
	height: 100%;
}


header {
  
  height: 215px;
  position: relative;
}

.sticky-top {
  background: white;
  margin: 0 auto;
  position: fixed;
  width: 90%;
  z-index: 10;
}

.menu {
 
  height: 35px;
  position: relative;
}

.menu-items-group {
       max-width: 1248px;
    min-width: 970px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
   
    float: right;
   
}

.menu-items-group ul {
  background-color: white;
  padding: 5px 0;
     position: absolute;
    right: 0;
    top: 0;
}


.menu-items-group ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0 25px;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 25px;
}

.menu-items-group li:not(:first-child){
  border-left: 2px solid black;
}

.menu-items-group li img {
  margin-right: 5px;
}

.horizontal-line {
  border-bottom: 1px dashed black;
  margin: 0 auto;
}

.text-icon {
   height: 71px;
  
}


.truck {
  
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
}
.notify-text {
  border: 1px solid red;
}


.logo {
  padding: 24px 0 5px 20px;
  display: inline;
}


.logo img {
  height: 42px;
  margin-top: 20px;
}

.notify-text {
  border: 1px solid blue;
  top: 30px;
  font-size: 18px;
  position: absolute;
  right: 20px;
}

.notify-text span img {
  margin-right: 10px;
  width: 35px;
  height: 20px;
}

.search-block {
 
 height: 40px;
 }

.search-block input {
  border:2px solid #a9a9a9;
  height: 40px;
  position: absolute;
  width: 35%;
  right: 0; 
  padding-left: 15px;
  font-size: 18px;
  
  }

.search-box  {

width: 100%;
position: relative;
}

.magnifier {
  position: absolute;
 right: 20px;
 top: 10px;
}

.list {
 
  position: absolute;
  top:160px;
  width: 100%;
  z-index: 6;
  height: 70px;
  background-color: white;
 }

.list-items{
  width: 100%;
}
.list-items ul {
  border: 1px solid red;
   padding: 5px 0;
 margin: 0 auto;
  height: 55px;
  


}
.list-items ul li {
  display: inline-block;
    padding: 0px 30px;
}

.list-items a {
font-size: 22px;
color:black;
line-height: 45px;
text-transform: uppercase;

  
    font-weight: normal;
    letter-spacing: 0.1px;
}

.list-items li:not(:first-child) {
  border-left: 2px solid #a9a9a9;
}

.side-bar{
  height: auto;
  background-color: #dcdcdc;
  width: 200px;
  margin-top: 110px;
  border:1px solid red;
  padding: 20px 20px;
}

.filter{
  border: 1px solid blue;
  margin-bottom: 35px;
}

.filter h3{
  text-transform: capitalize;
}

.title{
      font-size: 44px;
    color: black;
    font-weight: 100;
    letter-spacing: 0;
    margin-top: 12px;
    line-height: 60px;
}
.seperation-line{
  width: 50%;
  border-bottom: 2px solid black;
  margin: 0 auto;
  position: relative;
}

.seperation-line::before{
  position: absolute;
border-bottom: 2px solid gray;
content:"";

color: red;
width: 200px;
left:-200px;
}

.seperation-line::after{
  position: absolute;
border-bottom: 2px solid gray;
content:"";

color: red;
width: 200px;
left:438px;
}

.product-group{
  border:1px solid black;
  margin-top: 35px;

}

.product-group .row{
  margin-left: 0;
  margin-right: 0;
}

.single-product{
  border: 1px solid red;
  margin-bottom: 120px;
}

.single-product img{
  border: 1px solid blue;
padding: 5px 16px;
}

 .margin-40 {
  margin-bottom: 40px !important;
}
.product-info{
  border:1px solid green;
  width: 210px;
  margin:0 auto;
}

.category-selection{
  position: relative;
  width: 100%;
  cursor: pointer;
}
.category-selection label input{
      visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.show-div{
  position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1.4px solid black;
    
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.label-text{
      vertical-align: middle;
    font-size: 14px;
    padding-left: 10px;
    color: red;
    display: inline-block;
    width:135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
    text-transform: capitalize;
}

.category-selection label input:checked + .show-div {
    background: white;
   
   
    display: inline-block;
  }


 .category-selection label input:checked  .show-div::before {
       display: block;
    position: absolute;
    content: '';
    left: 3px;
    top: 0;
    width: 6px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
  }

.img {

position: relative;
width: 100px;
top: 40px;
left: 0;

 
  display: inline-block;
}


.image-container img {
position: absolute;
bottom: 0;
right:0;
width: 100px;
}


.stitching-block {
  height: 270px;
  
  margin-top: 20px;
}

.thread {
        width: 400px;
   float: right;
    top: 200px;
    margin-right: 40px;
   
}

.thread img {
  width: 400px;
}

.tape img {
  width: 100%;

}

.tape {
 
       top: 240px;
    width: 480px;
    left: 10px;
}

.big-button{
left: -70px;
}

.small-button{
left: -100px;
}


.big-button,
.small-button {
      width: 70px;
    top:200px;
    
}

.big-button img,
.small-button img {
  width: 100%;
}

.needle img{
  width: 100%
}

.needle{
      width: 300px;
    top: 190px;
    left: -200px;
}
header{
 padding:0;
      margin: 0 auto;
    
   
    max-width: 1680px;
    min-width: 970px;
    width: 100%;

   
}
.content-block {
  padding:0;
      margin: 0 auto;
     
    max-width: 1680px;
    min-width: 970px;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
}

footer{


    min-width: 970px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    height: auto;
 
}

.cards-block{
  height: 68px;
  width: 90%;
  margin:0 auto;
  background-color: red;
}

.outer-class {
width: 90%;
margin: 0 auto;
height: auto;
border: 1px solid brown;
}

.cards-block img {
     margin-left: 50px;
    margin-top: -18px;

}

.cards-block span {
position: relative;
top: -5px;
left: 10px;
font-size: 20px;
}
.visa-cards{
  position: relative;
 
}
.vis img{
  margin-left: 0;
  padding: 10px;
}
.vis{
    position: absolute;
    right: 0;
    top: -59px;
    height: 50px;
    padding: 0 40px;
}

.links{
  text-align: left;
 
  
  background-color: red;
  
}

.links ul a{
  display: block;
  text-transform: uppercase;
  padding: 5px 20px;

}

.last-child{
  text-align: right;
}

.footer-menu{
  height: 170px;
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
background-color: royalblue;
    margin-top: 15px;
}

.footer-links {
  
  background-color: blue;
margin-top: 15px;
width: 95%;
border: 1px solid pink;
}

.social-links {
  padding: 0;
  margin: 0;
}

.social-contact-section {
  height: 102px;
  border: 1px solid brown;

  margin: 0 auto;
  width: 90%;
}
.social-contact-section .row{
margin-left: 0;
margin-right: 0;
}
.connect {
  padding: 10px 0 10px 40px !important;
  border: 1px solid blue;
}

.social-links a{

    padding: 5px 8px;
    border: 1px solid red;

}

.social-links a  img {
width: 30px;
}

.subscribe-letter{
  height: auto;
 
  margin-top: 25px;
 position: relative;
 float: right;
  width: 90%;
  border: 1px solid orange;
}

.input-email{
width: 100%;
text-align: center;
}

.footer-links .row{
  margin-left: 0 ;
  margin-right: 0;
}

.subscribe-letter input{
  text-transform: uppercase;
height: 45px;
border: 1px solid black;
}

.subscribe-letter button{
  background-color: black;
  color: white;
  padding: 12px 5px;
  text-transform: uppercase;
  
   margin-left: -40px;
    box-shadow: none !important;
    border: 0;
 
    width: 70px;
}

.subscribe-letter .col-sm-3{
  padding: 0 !important;
}

.notice{
      text-transform: uppercase;
    font-size: 10px;
    padding-top: 5px;
    text-align: center;
}

.subscribe-letter h5{
font-weight: bold;
width: 100%;
    min-width: 200px;
    background-color: red;
    margin-right: 5px;
    line-height: 27px; 
}


.copyright {
  height: 50px;
  border: 1px solid green;
  position: relative;
}

.custom-navbar{
  width: 90%;
  margin: 0 auto;
  border: 1px solid green;
  position: relative;
}

.copyright ul {
  position: absolute;
  left:20px;
  top:0;
}

.copyright ul li {
display: inline-block;
text-transform: uppercase;
padding: 4px 5px;
border: 1px solid blue;
}

.copyright li:not(:first-child){
  border-left: 1px solid black;
}

@media screen and (min-width: 320px) and (max-width: 1023px){
.thread{
     width: 280px;
    top: 187px;
    left: 20px;
 
  }

  .thread img{
    width: 100%;
  }

  .needle {

        width: 300px;
    top: 140px;
    left: 286px;
  }

    .needle img{

    width: 64%;
    
  }

}

@media screen and (max-width: 767px){
  .list-items ul li {
    
    padding: 0px 20px;
  }

  .product-group .col-xs-4 {
padding-left: 0;
padding-right: 0;
 }

}